<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAuth Facebook</title>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: grid;
    place-content: center;
  }
</style>
<body>
  <fb:login-button
    style="transform: scale(5);"
    config_id="820304586915238"
    onlogin="checkLoginState();">
  </fb:login-button>
</body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2846813125625628',
      cookie     : true,
      xfbml      : true,
      version    : 'v20.0'
    });

    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  function statusChangeCallback(response) {
    console.log('Facebook login status changed.');
    console.log(response);
    if (response.status === 'connected') {
      console.log('Logged in and authenticated');
    } else {
      console.log('Not authenticated');
    }
  }
</script>
</html>